Markdown==2.5.2
aiohttp==0.14.1
beautifulsoup4==4.3.2
-e git://github.com/KeepSafe/content-validator.git#egg=content_validator
docopt==0.4.0
hoep==1.0.2
html2text==2014.12.29
mandrill==1.0.57
nose==1.3.4
parse==1.6.6
requests==2.5.1
inlinestyler==0.2.0
